.heading {
	color:white;
	padding:2%;
	background-color:#0073e6;
	text-align:center;
	font-size:6em;
}

.subheading {
	color:white;
	padding:2%;
	background-color:#66b3ff;
	text-align:center;
	font-size:3em;
}

.boundary {
	background-color:#1a8cff;
	height:15px;
}