@font-face {
    font-family: Choplin-ExtraLight;
    src: url(fonts/Choplin-ExtraLight-DEMO.otf);
}

@font-face {
    font-family: Harabara;
    src: url(fonts/Harabara.otf);
}

@font-face {
    font-family: FortuneCity;
    src: url(fonts/FortuneCity.ttf);
}

body{
	font-family: Choplin-ExtraLight;
}

/* This sticky class is added onto the subheading after scroll */
.heading.sticky {
	font-size: 1em;
}

/* This sticky class is added onto the subheading after scroll immediately */
.heading.sticky2 {
	position: fixed;
	width: 100%;
}

.heading {
	color: white;
	padding: 2%;
	background-color: #0073e6;
	text-align: center;
	font-size: 6em;
	font-family: Harabara;
	text-shadow: 2px 2px 2px #555555;
	z-index: 15;
}

/* This sticky class is added onto the subheading after scroll */
.subheading.sticky {
	display: none;
}

/* This sticky class is added onto the subheading contents after scroll */
.subheadingcontent.sticky {
	display: none;
}

.subheadingcontent {
	display: inline-block;
	font-size:3em;
	padding-left:1em;
}

.subheading {
	padding: 2%;
	background-color: #66b3ff;
	text-align: center;
	font-family: FortuneCity;
	text-shadow: 1px 1px 1px #aaaaaa;
	margin-left:-14%;
	font-size:1em;
	color:#808080;
}

.boundary {
	background-color: #1a8cff;
	height: 15px;
}

.round-back-button {
	position: absolute;
	background-color: #1A8CFF;
	left: 5%;
	width: 60px;
	height: 60px;
	border: 4px solid white;
	border-radius: 20px;
}

.cover {
	position: relative;
	width: 100%;
	z-index: -10;
}

.text-center {
	z-index: -10;
	text-align: center;
	vertical-align: middle;
	padding-top: 15%;
	font-size: 2em;
}