@font-face {
    font-family: Choplin-ExtraLight;
    src: url(fonts/Choplin-ExtraLight-DEMO.otf);
}

@font-face {
    font-family: Harabara;
    src: url(fonts/Harabara.otf);
}

@font-face {
    font-family: FortuneCity;
    src: url(fonts/FortuneCity.ttf);
}

body{
	font-family: Choplin-ExtraLight;
}

/* This sticky class is added onto the header after scroll */
.heading.sticky {
	font-size: 1em;
	position: fixed;
	width: 100%;
}

.heading {
	color: white;
	padding: 2%;
	background-color: #0073e6;
	text-align: center;
	font-size: 6em;
	font-family: Harabara;
	text-shadow: 2px 2px 2px #555555;
}

/* This sticky class is added onto the subheading after scroll */
.subheading.sticky {
	display: none;
}

.subheadingcontent.sticky {
	display: none;
}

.subheadingcontent {
	display: inline-block;
}

.subheading {
	color: white;
	padding: 2%;
	background-color: #66b3ff;
	text-align: center;
	font-size: 4.5em;
	font-family: FortuneCity;
	text-shadow: 1px 1px 1px #aaaaaa;
}

.boundary {
	background-color: #1a8cff;
	height: 15px;
}

.round-back-button {
	position: absolute;
	background-color: #1A8CFF;
	left: 5%;
	width: 60px;
	height: 60px;
	border: 4px solid white;
	border-radius: 20px;
}
